<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login with Keycloak</title>
	</head>
	<body>
		<h1>server started, hello from home</h1>
		<a href="/login"><button>Login with Keycloak</button></a>
		<a href="/accessToken"><button>Access token from Keycloak</button></a>
		<a href="/logout"><button>Logout from Keycloak</button></a>
		<div>
			<h2>Infos from Auth</h2>
      <p>code:<pre>{{.Code}}</pre></p>
			<p>session state:<pre>{{.SessionState}}</pre></p>
      <p>access token:<pre>{{.AccessToken}}</pre></p>
      <p>refresh token:<pre>{{.RefreshToken}}</pre></p>
      <p>token scope:<pre>{{.TokenScope}}</pre></p>
		</div>
	</body>
</html>
